<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <p>guys</p>
    <a href="/customer">aaaaa</a>
    <a href="/addView">addPic</a>
    <!-- <a href="/add">add</a> -->
    <form action="/add" method="post">
        <input type="file" name="image">
        <input type="submit" value="upload">
    </form>
</body>

</html>